<a href="https://colab.research.google.com/github/ImanolSolano/cyp_2021/blob/main/Tarea_4_Solano_Imanol_2_dic_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Ejercicio 1, Examn selectiva doble
CAL=0
CAL= float (input("Ingresa la calificación del alumno:"))
if(CAL>=8):
  print("Aprobado")
else:
  if(CAL<8):
    print("Reprobado")

Ingresa la calificación del alumno:8
Aprobado

In [11]:
#Ejercicio 2
SUE=0
NSUE=0
NOMBRE=0
NOMBRE=input("Ingresa el nombre del trabajador:")
SUE=float (input("Ingresa el sueldo del trabajador"))
if (SUE<1000):
  NSUE=int(SUE*1.15)
else:
  if (SUE>1000):
    NSUE=int(SUE*1.12)
print("El nuevo salario de",NOMBRE,"es de: $",NSUE)

Ingresa el nombre del trabajador:Ricardo
Ingresa el sueldo del trabajador2500
El nuevo salario de Ricardo es de: $ 2800

In [19]:
#Ejercicio 3
cate=0
sue=0
NSUE=0
cate=input("Coloca la categoría a la que pertenece el trabajadr:")
sue=float(input("Ingresa el sueldo del trabajador:"))
if (cate==1):
  NSUE=int(sue*1.15)
else:
  if (cate==2):
    NSUE=int(sue*1.10)
  else:
    if (cate==3):
      NSUE=int(sue*1.08)
    else:
      if (cate==4):
        NSUE=int(sue*1.07)
print("La categoria a la que pertenece el trabajador es:",cate,"teniendo un nuevo sueldo de: $",NSUE)

Coloca la categoría a la que pertenece el trabajadr:1
Ingresa el sueldo del trabajador:1500
La categoria a la que pertenece el trabajador es: 1 teniendo un nuevo sueldo de: $ 0